@import './variables.scss';

.search-result {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover .card {
    display: block;
  }
  .card {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $card-background;
    color: $text-color;
    padding: 20px;
    overflow: auto;

    i {
      cursor: pointer;
      margin-left: 5px;
    }
    .overview {
      display: flex;
      align-items: center;
      button {
        margin: 0 10px 10px;
      }
    }
  }
  .alternate-cast {
    color: $alternate-cast;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .no-poster {
    width: 100%;
    height: 100%;
    border: 1px solid $card-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $no-poster-background;

    span {
      font-size: 30px;
    }
  }

  p {
    margin-bottom: 10px;
  }

  button.card-btn {
    background-color: $bkg-color-btn;
    border-radius: 5px;
    padding: 2px 3px;
    border: 1px solid $border-color-btn;
    cursor: zoom-in;
    margin-left: 10px;
  }
  button.card-btn.hide-overview {
    cursor: zoom-out;
    margin-left: 0;
  }
  .more-info {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      background-color: $bkg-color-btn;
      border-radius: 5px;
      padding: 2px 3px;
      border: 1px solid $border-color-btn;
      cursor: zoom-in;
    }
  }
  .overview-text {
    text-align: justify;
  }
}
