$header-color:#000;
$body-color:rgb(36, 31, 31);
$title-color:rgb(190, 0, 0);
$card-background:rgba(0, 0, 0, 0.9);
$text-color: #FFF;
$no-poster-background:#C0C0C0;
$off-text-color:#C0C0C0;
$golden-color: rgb(218, 165, 32);

//SLIDER
$btn-slider: rgb(148, 7, 7);
$focus-btn-slider: #C0C0C0;
$border-btn-slider:#000;
$bkg-slider:#000;