$header-color:#000;
$body-color:#0c0c0c;
$title-color:#830d0d;
$card-background:rgba(0, 0, 0, 0.9);
$text-color: #FFF;
$no-poster-background:#C0C0C0;
$off-text-color:#C0C0C0;
$golden-color: rgb(218, 165, 32);
$alternate-cast:rgb(97, 94, 94);

//SLIDER
$btn-slider: rgb(148, 7, 7);
$focus-btn-slider: #C0C0C0;
$border-btn-slider:#000;
$bkg-slider:#000;

//BUTTON
$bkg-color-btn:#830d0d;
$border-color-btn:#000;